@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #edf2fb;
}

#header {
    background-image: linear-gradient(#0f181f, #2d3e48);
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/rktkn-iGj6MTyjC3M-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

#logo {
    width: 80px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

#title {
    float: left;
    font-size: 280%;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 30px;
    text-decoration: none;
    color: #edf2fb;
}

#nav-links {
    display: flex;
    padding: 2% 6%;
    justify-content: end;
    align-items: center;
    color: #edf2fb;
}

#nav-links ul li {
    font-size: 125%;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#nav-links ul li a {
    text-decoration: none;
    color: inherit;
}

#nav-links ul li::after {
    content:'';
    width: 0%;
    height: 3px;
    display: block;
    margin: auto;
    background: #dbb890;
    transition: 0.5s;
}

#nav-links ul li:hover::after{
    width: 100%;
}
#cover-text {
    font-size: 130%;
    font-family: Source sans pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(45, 62, 72, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#cover-text-logo {
    color: #edf2fb;
    width: 60px;
    float: right;
    padding: 5px 30px 5px 5px;
    margin: 10px 15px 0 0;
}

#cover-text, #cover-text h2 {
    color: #edf2fb;
    margin: 10px 2px;
}

#cover-text, #cover-text p {
    font-weight: 300;
    color: #fff; 
}

.divider {
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
    background-image: linear-gradient(#0f181f, #2d3e48);

    background-color: #2d3e48;
    border-top: 3px solid #0f181f;
    border-bottom: 3px solid #0f181f;
}

.section {
    margin: 0;
    display: block;
    height: 500px;
    width: 100%;
    color: #edf2fb;
    background-color: #0f181f;
    border-top: 1px solid #2d3e48;
    border-bottom: 1px solid #2d3e48;
}

#our-mission {
    height: 500px;
    width: 100%;
}

#mission {
    margin-top: 60px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#mission-left {
    width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;;
}

#mission-left p {
    text-align: center;
    margin-bottom: 25px;
}

#mission-right {
    display: flex;
    flex-direction: column;
    height: 292.79px;
    width: 33%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#mission-right p {
    text-align: center;
}

#mission-center {
    display: flex;
    flex-direction: column;
    height: 292.79px;
    width: 33%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#mission-center p {
    text-align: center;
}

#mission-header {
    margin-top: 50px;
    font-size: 300%;
    text-align: center;
}

.mission-items h3 {
    text-align: center;
}

.mission-items p {
    padding: 10px 20px;
}

.mission-images {
    height: 130px;
    width: 200px;
    padding: 0;
    margin: 20px 180px;
    border-radius: 50%; 
    border: 2px solid #334753;
}

#image-right {
    width: 180px;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #0f181f;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color:  #edf2fb;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #edf2fb;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #dbb890;
}

#footer-logo {
    float: right;
    height: 30px;
    width: 50px;
    margin: 5px 0px 0px 10px;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

#sign-up-button {
    border: none;
    background-color: #0f181f;
    color: #edf2fb;
    transition: all .4s ease;
}

#sign-up-button:hover {
    border: 1px #0f181f;
    padding: 5px 12px;
    font-weight: 600;
    border-radius: 20px;
    background-color: #dbb890;
    color: #0f181f;
}

/* about */

.about-container {
    display: grid;
    background-color: rgb(15, 24, 31);
    height: 900px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.grid-item {
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.item-1 {
    box-sizing: border-box;
    background-color: #0f181f;
    color: #edf2fb;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(15, 24, 31);
    border-image: initial;
    grid-row-start: 1;
}

.item-1 h2 {
    font-size: 250%;
    font-weight: 800;
    margin: 50px auto 10px;
}

.item-1 ul {
    margin: 10px auto;
    list-style-type: none;
}

.item-1 li {
    margin: 40px auto;
}

.item-2 {
    background-color: #000;
    background-image: url(../images/pexels-mohamed-almari-394919-1.png);
    width: 100%;
    height: 100%;
    color: #fff;
    grid-row-start: 2;
}

.item-3 {
    background-color: #000;
    background-image: url(../images/pascal-meier-1uVCTVSn-2o-unsplash.jpg);
    background-size: cover;
    color: #edf2fb;
    height: 100%;
    width: 100%;
}

.item-4 {
    background-color: #2d3e48;
    background: url(../images/ethan-rougon-zWIWNeEg4Uo-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.item-5 {
    background-color: #000;
    background-image: url(../images/pexels-pixabay-235777.jpg);
    background-size: cover;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
}

.item-6 {
    background-image: url(../images/lotus.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-7 {
    background-image: url(../images/pexels-koolshooters-6246495.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-8 {
    background-image: url(../images/pexels-rfstudio-3820449.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-9 {
    background-image: url(../images/levi-guzman-zdSoe8za6Hs-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item:last-child {
    grid-column-start: 4;
}

/* courses */

.courses {
    height: 800px;
    background-color: #0f181f;
    display: flex;
    justify-content: space-around;
}

.course-header {
    background-color: #0f181f;
    font-size: 300%;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 60px;
}

.course-cards {
    background-color: #dbb890;
    background: url(../images/pexels-gantas-vaičiulėnas-3750272.jpg);
    border-radius: 150px 150px 10px 10px;
    border: 1px solid #000;
    background-size: cover;
    color: #0f181f;
    height: 700px;
    width: 40%;
}

.course-cards h2 {
    color: #dbb890;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.course-cards h3 {
    color: #c8ccd2;
    padding: 15px;
    text-align: center;
    text-decoration: underline;
}

.course-cards h4 {
    color: #edf2fb;
    text-align: center;
}

.course-cards img{
    margin: 20px;
    padding: 0;
    background-size: cover;
    border-radius: 80px 80px 20px 20px;
    border: 1px solid #edf2fb;
    width: 300px;
}

.course-cards li {
    color: #dbb890;
    font-weight: 600;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.36);
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
}

.meditation-card {
    float: left;
    display: flex;
    flex-direction: column;
}

.meditation-card img {
    margin: 0 auto;
}

.meditation-card li {
    width: 100%;
}

.yoga-card {
    width: 40%;
    float: right;
    display: flex;
    flex-direction: column;
}

.yoga-card img {
    margin: 0 auto;
    background-size: cover;
    height: 200px;
}

.offer {
    border-radius: 100px 100px 45px 45px;
    border: 1px solid #5a452d;
    background-color: #0d1216;
    margin: 0 15px;
}

/* sign up */

.sign-up-hero {
    height: 600px;
    background-color: #0f181f;
    background: url(../images/rain-condensation.png);
    background-size: cover;
}

.signup-form {
    margin: 150px 10% 0 0;
    border: 2px solid #0f181f;
    color: #edf2fb;
    background-color: rgba(39, 61, 63, 0.6);
    border-radius: 60px 0 100px 20px;
    max-width: 700px;
    position: absolute;
    right: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #edf2fb;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #edf2fb;
    width: 100%;
    height: 25px;
    top: 5px;
    margin: 5px 0 20px 0;
    border: 1px solid #edf2fb;
    border-radius: 2px;
    transition: color .5s ease;
}

.text-input:hover {
    border-color: #6fbdcb;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #6fbdcb;
    color: #edf2fb;
    display: block;
    cursor: pointer;
}

.join-button:hover {
    background-color: #0f181f;
    color: #6fbdcb;
    transition: color 1s ease;
    
}
.short-text {
    display: none;
}

/* media queries */

/* For larger to medium size screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #header {
        height: 100px;
    }

    #logo {
        margin-top: 20px;
    }
    
    #cover-text {
        top: 600px;
        left: 50px;
    }

    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }

    .course-cards {
        font-size: 80%;
    }

    .about-container {
        height: 909px;
    }

    .item-6 {
        background-image: url(../images/lotus-nice.png);
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .item-7, .item-8, .item-9 {
        display: none;
    }

    .sign-up-hero {
        background-image: url(../images/pexels-aleksandr-slobodianyk-989941.jpg);
        height: 1000px;
    }

    .signup-form {
        left: 20%;
    }
    
    #mission {
        font-size: 80%;
    }

    #mission-right {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .mission-divider {
        top: 800px;
    }

    .section {
        height: 500px;
    }

    footer {
        position: relative;
    }

    .divider {
        height: 3vh;
        bottom: 290px;
        position: inherit;
    }
}

/* For medium to small size screen size from 950px wide and down */

@media screen and (max-width: 950px) {

    #header {
        height: 127px;
    }

    #nav-links {
        clear: left;
        line-height: 2px;
        margin-left: 85px;
        float: left;
    }

    #nav-links ul li::after {
        margin: 9px auto;
    }

    .about-container {
        grid-template-rows: repeat(2, 1fr);
        height: 600px;
        width: 100%;
    }

    .item-2 {
        grid-column: span 4;
    }

    .item-3 {
        display: none;
    }

    .item-4 {
        grid-row-end: span 1;
    }

    .item-6 {
        display: none;
    }

    .course-cards {
        margin: 20px;
        width: 60%;
    }
    
    .courses {
        height: 1300px;
        flex-direction: column;
        align-items: center;
    }
}