@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&family=Source+Sans+Pro:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #edf2fb;
}

#header {
    background-image: linear-gradient(#0f181f, #2d3e48);
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url(../images/rktkn-iGj6MTyjC3M-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

#logo {
    width: 80px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

#title {
    float: left;
    font-size: 280%;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 30px;
    text-decoration: none;
    color: #edf2fb;
}

#nav-links {
    display: flex;
    padding: 2% 6%;
    justify-content: end;
    align-items: center;
    color: #edf2fb;
}

#nav-links ul li {
    font-size: 125%;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#nav-links ul li a {
    text-decoration: none;
    color: inherit;
}

#nav-links ul li::after {
    content:'';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: #dbb890;
    transition: 0.5s;
}

#nav-links ul li:hover::after{
    width: 100%;
}
#cover-text {
    font-size: 130%;
    font-family: Source sans pro, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 250px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(45, 62, 72, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#cover-text-logo {
    color: #edf2fb;
    width: 60px;
    float: right;
    padding: 5px 30px 5px 5px;
    margin: 10px 15px 0 0;
}

#cover-text, #cover-text h2 {
    color: #edf2fb;
    margin: 10px 2px;
}

#cover-text, #cover-text p {
    font-weight: 300;
    color: #fff; 
}

.divider {
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
    background-image: linear-gradient(#0f181f, #2d3e48);

    background-color: #2d3e48;
    border-top: 3px solid #0f181f;
    border-bottom: 3px solid #0f181f;
}

.section {
    margin: 0;
    display: block;
    height: 500px;
    width: 100%;
    color: #edf2fb;
    background-color: #0f181f;
    border: 1px solid black;
}

#our-mission {
    height: 500px;
    width: 100%;
}

#mission {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#mission-left {
    width: 33%;
}

#mission-left p {
    text-align: left;
}

#mission-right {
    height: 292.79px;
    width: 33%;
}

#mission-right p {
    text-align: right;
}

#mission-center {
    height: 292.79px;
    width: 33%;
}

#mission-center p {
    text-align: center;
}

#mission-header {
    margin-top: 50px;
    font-size: 300%;
    text-align: center;
}

.mission-items h3 {
    text-align: center;
}

.mission-items p {
    padding: 10px 20px;
}

.mission-images {
    height: 130px;
    width: 200px;
    margin: 5% 32%;
    border-radius: 50%; 
    border: 1px solid #2d3e48;
}

#image-right {
    width: 180px;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #0f181f;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color:  #edf2fb;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #edf2fb;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #dbb890;
}

#footer-logo {
    float: right;
    height: 30px;
    width: 50px;
    margin: 5px 0px 0px 10px;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

#sign-up-button {
    border: none;
    background-color: #0f181f;
    color: #edf2fb;
    transition: all .4s ease;
}

#sign-up-button:hover {
    border: 1px #0f181f;
    padding: 5px 12px;
    font-weight: 600;
    border-radius: 20px;
    background-color: #dbb890;
    color: #0f181f;
}

/* about */

.about-container {
    display: grid;
    background-color: rgb(15, 24, 31);
    height: 900px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.grid-item {
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.item-1 {
    box-sizing: border-box;
    background-color: #0f181f;
    color: #edf2fb;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(15, 24, 31);
    border-image: initial;
    grid-row-start: 1;
}

.item-1 h2 {
    font-size: 250%;
    font-weight: 800;
    margin: 50px auto 10px;
}

.item-1 ul {
    margin: 10px auto;
    list-style-type: none;
}

.item-1 li {
    margin: 40px auto;
}

.item-2 {
    background-color: #000;
    background-image: url(../images/pexels-mohamed-almari-394919-1.png);
    width: 100%;
    height: 100%;
    color: #fff;
    grid-row-start: 2;
}

.item-3 {
    background-color: #000;
    background-image: url(../images/pascal-meier-1uVCTVSn-2o-unsplash.jpg);
    background-size: cover;
    color: #edf2fb;
    height: 100%;
    width: 100%;
}

.item-4 {
    background-color: #2d3e48;
    background: url(../images/ethan-rougon-zWIWNeEg4Uo-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.item-5 {
    background-color: #000;
    background-image: url(../images/pexels-pixabay-235777.jpg);
    background-size: cover;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
}

.item-6 {
    background-image: url(../images/lotus.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-7 {
    background-image: url(../images/pexels-koolshooters-6246495.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-8 {
    background-image: url(../images/pexels-rfstudio-3820449.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item-9 {
    background-image: url(../images/levi-guzman-zdSoe8za6Hs-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item:last-child {
    grid-column-start: 4;
}
